.container {
  padding: 40px 20px;
  width: 100%;
  display: flex;
}
.leftcontainer {
  height: 100%;
  flex: 1;
  padding: 10px;
}
.rightcontainer {
  flex: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftcontainer1 {
  margin: auto;
  padding: 20px;
  /* height: 100%; */

  /* display: flex;
  justify-content: center;
  align-items: center;
   */
  display: grid;
  place-items: center;
  /* position: relative;
  border: 1px solid rgba(223, 34, 213, 0.178);
  height: 100%;
  gap: 30px; 
   left:0 ; 
   display: flex;
  align-items: center; 
  margin-top: 100px;
  
  align-items: center;  */
}
.box {
  /* width: 100px;
  height: 50%; */
  /* display: flex; /* x axis
  align-items: center; 
   justify-content: center; 
   position: absolute;
  height: 40px;
  width: 90px;
  border: 2px solid rgb(222, 12, 12);
  margin: auto;
  left: 0; 
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap; */
  border: 1px solid rgb(244, 241, 237);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    padding: 40px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

